/* General Styling */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #eee;
    font-size: 1.125rem;
    font-family: system-ui;
    line-height: 1.5;
}

.wrapper {
    width: min(100% - 2rem, 60rem);
    margin-inline: auto;
}
img {
    display: block;
    width: 100%;
    max-width: 100%;
}



/* Block One Even Columns */

.even-columns__title {
    margin: 2em 0;
    display: flex;
    justify-content: center;
}

.even-columns {
    display: grid;
    gap: 1rem;
    margin: 0 1em;
}

@media (min-width: 39em) {
    .even-columns {
        grid-auto-flow: column;
        grid-auto-columns: 1fr;
    }
}

.card {
    background-color: #dfdfdf;
    padding: 1em;
    border-radius: 5px;
}

.others {
    padding: 1em 3em;
    background-color: #9a9999;
}


/* Block Two with 2 Columns */
.b {
    display: flex;
    flex-direction: column;
}
.mt-3 {
    margin-top: 3em;
}
.about-intro {
    padding: 3em 1em 3em;
}

.about-body {
    padding: 5em 1em 3em;
}
.small-title {
    letter-spacing: 1px;
}
.bg-dark {
    background-color: #9a9999;
}
.bg-light {
    background-color: #dfdfdf;
}
.bg-img-right {
    background-image: url(img/Logo_Right.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 20%;
}

.bg-img-left {
    background-image: url(img/Logo_Left.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 20%;
}

@media (min-width: 750px) {
    .b {
            flex-direction: row;
        }
    
        .about-intro,
        .about-body {
            flex: 0 1 50%;
            display: flex;
            flex-direction: column;
            padding: 3em 1.5em;
            justify-content: center;
        }
    
        .bg-img-right {
            background-size: 25%;
        }
    
        .bg-img-left {
            background-size: 25%;
        }
    
        .about-intro {
            text-align: right;
        }
    
        .about-intro >* {
            max-width: 27rem;
            margin-left: auto;
        }
    
        .about-body {
            text-align: left;
        }
    
        .about-body > * {
            max-width: 27rem;
            margin-right: auto;
        }
}
